
@font-face {
    font-family: "Roboto";
    src: local("Roboto-Regular"),
    url("Roboto-Regular.ttf") format("ttf"),
}

body {
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 500;
}

.wrap {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 100%;
    max-width: 1920px;
    height: 1080px;
    display: flex;
    overflow: hidden;
}

.card__photo {
    display: flex;
    flex: 1 1 638px;
    flex-direction: column;
}


.photo__img {
    width: 100%;
    max-height: 977px;
    height: 100%;
    object-fit: cover;
}

.photo__text {
    display: block;
    height: 103px;
    background-color: black;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* правый блок */

.info {
    flex-direction: column;
    padding: 60px 0px 0px 70px;
    row-gap: 50px;
}
.card__info {
    display: flex;
    flex: 1 1 1282px;
    background-image: url(./img/"backround.png");
    background-position: bottom;
}

.info__user-info {
    display: flex;
    flex-direction: column;
}

.info__name {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 25px;
}

.info__city {
    font-size: 24px;
    line-height: 28px;
}

.info__list {
    display: flex;
    gap: 30px;
}


/* стек */

.info__steck 
.steck__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 25px;
}
.info__steck-list {
    display: flex;
    gap: 25px;
    margin-bottom: 50px;
}

.info__steck-list-item {
    padding: 14px 55px; 
    background-color: #414141;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    border-radius: 45px;
    
}

.info__description {
    display: block;
    max-width: 1026px;
}

.info__description-title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
}


.info__description-text {
    font-size: 32px;
    line-height: 38px;
    text-indent: 30px;

}

input {
    border: none;
    background: transparent;
}

.form {
    max-width: 702px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__feedback {
    display: flex;
    gap: 25px;
}

.form__input {
    width: 100%;
}

.form__input input {
    border: 1px solid black;
    padding: 14px 0px;
    border-radius: 11px;
    width: 100%;
    font-size: 32px;
    line-height: 38px;
    text-indent: 16px;
    /* margin-top: 50px; */
}

.form__input input::placeholder {
    color: black;
}

.form__button input {
    margin-top: 25px;
    padding: 14px 0;
    width: 100%;
    background-color: black;
    color: #FFFFFF;
    border-radius: 11px;
    font-size: 32px;
    line-height: 38px;
    border: 1px solid black;
    cursor: pointer;
    transition: all .3s linear;
}

.form__button input:hover {
    background-color: #414141;
}

